body{
    color: aquamarine;
    padding: 0;
}
 main{
    padding: 16px;
    color: black;
 }

footer{
    padding: 50px, 30px, 50px, 30px;
    background-color: greenyellow;
    color: black;
    font-size: large;
}

img{
    height: 200px;

}

nav{
    border-top: 10px;
    border-bottom: 10px;
    block-size:  30px;
   background-color: orangered;

}

a{
    color: aquamarine;
    text-decoration: none;
}


h2{
    color: black
}

main{
    padding: 16px, black
}
div{
    display: grid;

}

.tacos:not(h1 h2){
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(2, auto) 2fr;
    column-gap: 16px;

}

.box_shadow{
    box-sizing: -1 2px 4px 2px rgb(100, 23, 123);
}

.hover_white:hover{
    color: white
}

tr:nth-child(odd):not(th){
    background-color: rgb(27, 187, 193);
}

.no_underline{
    text-decoration: none;
}

tr{
    color: red;
}
